body {
            background: url(../img/bg.png);
        }
        .wrapper {
        height: 100% !important;
        height: 100%;
        margin: 0 auto; 
            }
        ul.ilustracje {
            list-style:none;
            width:100%;
            width:calc(100% - 80px);
            height:100%;
            margin: auto;
            padding: 0;
            line-height:0;
        }
        
        .ilustracje li {
            display:inline-block;
            height:50%;
            width:33.33%;
            box-sizing:border-box;
            padding:5px;
            background-clip:content-box;
            border-radius:20px;
            vertical-align: top;
        }

        /* Portrait */
@media screen and (orientation:portrait) {
    .ilustracje li {
        height:33.3%;
        width:50%;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
   .ilustracje li {
        height:50%;
        width:33.3%;
    }
}

        .ilustracje li div{
            width:100%;
            height:100%;
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:contain;
            background-color:#fff;
            box-sizing:border-box;
            border-radius:20px;
            border:4px solid #000;
            border-bottom-width:30px;
            font-family: 'Archivo Black', sans-serif;
            position:relative;
            cursor:pointer;

        }
        .ilustracje li div.animated{
            z-index:1;
        }
        .ilustracje li div span{
            position:absolute;
            bottom:-13px;
            left:0;
            width:100%;
            text-align: center;
            color:#fff;
            text-transform: uppercase;
            font-size:12px;
        }
        #player {
            display:none;
        }